<form enctype="multipart/form-data" method="post">
	{% csrf_token %} {% for campo in formulario %}
	<div class="mb-3">
		<label for="" class="form-label">{{campo.label}}</label>

		{% if campo.field.widget.input_type == 'file' and campo.value %}
		<br />
		<img
			src="{{MEDIA_URL}}/imagenes/{{campo.value}}"
			class="rounded-circle mb-2"
			width="60"
			height="60"
		/>
		{% endif %}
		<input
			type="{{campo.field.widget.input_type}}"
			class="form-control"
			name="{{campo.name}}"
			id=""
			aria-describedby="helpId"
			placeholder="{{campo.label}}"
			value="{{campo.value | default:''}}"
		/>
	</div>
	<div class="col-12 help-text">{{campo.errors}}</div>
	{% endfor %}
	<div class="d-grid gap-2 d-md-block">
		<button class="btn btn-success" type="submit">
			<b> <i class="far fa-share-square"></i> Enviar Información </b>
		</button>
		<a name="" id="" class="btn btn-danger" href="{% url 'libros' %}" role="button"
			><b><i class="fas fa-power-off"></i> Cancelar </b></a
		>
	</div>
</form>
